$primary-color: #007bff; // Primäre Farbe
$secondary-color: #6c757d; // Sekundäre Farbe

.community-server-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  background-color: #2d2d2d; // Hintergrundfarbe anpassen
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  
  h2 {
    color: $primary-color;
    margin-bottom: 20px;
    background-color: #2d2d2d; // Hintergrundfarbe anpassen
    padding: 10px; // Innenabstand hinzufügen
    border-bottom: 1px solid $secondary-color; // Unterstrich hinzufügen
  }
  
  .minecraft-container {
    margin-bottom: 20px;
    background-color: #2d2d2d; // Hintergrundfarbe anpassen
   
    .copy-text {
      padding: 10px 15px;
      background-color: $primary-color; // Primärfarbe verwenden
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      
      &:hover {
        background-color: darken($primary-color, 10%); // Dunklere Farbe bei Hover
      }
    }
  }
  
  .server-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid $secondary-color;
    background-color: #2d2d2d; // Hintergrundfarbe anpassen
    border-radius: 5px;
    color: white;
    
    p {
      margin: 5px 0;
      background-color: #2d2d2d;
    }
    .servername-button {
      background-color: $primary-color;
      border: none;
      cursor: pointer;
      color: #fff; // Sekundärfarbe verwenden
      font-size: 18px;
      
      &:hover {
        color: darken($secondary-color, 20%); // Dunklere Farbe bei Hover
      }
    }
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    
    .icon-button {
      background-color: #2d2d2d;
      border: none;
      cursor: pointer;
      color: $secondary-color; // Sekundärfarbe verwenden
      font-size: 18px;
      
      &:hover {
        color: darken($secondary-color, 20%); // Dunklere Farbe bei Hover
      }
    }
  }
  
  .link-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff; // Hintergrundfarbe anpassen
    
    .link {
      padding: 10px 15px;
      background-color: $primary-color; // Primärfarbe verwenden
      color: #fff;
      border-radius: 5px;
      text-decoration: none;
      
      &:hover {
        background-color: darken($primary-color, 10%); // Dunklere Farbe bei Hover
      }
    }
  }
}
