* {
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.slide-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;

}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  position: relative;
}

.slide-image {
  width: 100%;
  height: auto;
 
  
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2; /* Hier wird der z-Index hinzugefügt */
}

.slide-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.slide-content p {
  font-size: 1.2rem;
}

.text-container {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  color: white;
  text-align: center;
  background-color: black;
}

.titel {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .slide-content h2 {
    font-size: 1.5rem;
  }
  
  .slide-content p {
    font-size: 1rem;
  }

  .slide-container{
    z-index: -1;
  }
}

@media (max-width: 576px) {
  .slide-content h2 {
    font-size: 1.2rem;
  }
  
  .slide-content p {
    font-size: 0.9rem;
  }
  .slide-container{
    z-index: -1;
  }
}
