.youtube-kollegen {
  background-color: #000; // Hintergrundfarbe: Schwarz
  color: #fff; // Textfarbe: Weiß
  font-family: 'Comic Sans MS', cursive;

  .kollege {
    border: 1px solid #666; // Rahmenfarbe: Dunkelgrau
    background-color: #333; // Hintergrundfarbe: Dunkelgrau
    color: #fff; // Textfarbe: Weiß
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;

    &:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); // Schattenfarbe bei Hover
    }

    .kollege-actions {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
      background-color: #333;

      .delete-button,
      .edit-button {
        background-color: #f44336; // Button-Hintergrundfarbe: Rot
        color: #fff; // Button-Textfarbe: Weiß
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
          background-color: #d32f2f; // Button-Hover-Hintergrundfarbe: Dunkelrot
        }
      }

      .popup {
        background-color: #333; // Popup-Hintergrundfarbe: Dunkelgrau
        border: 1px solid #666; // Popup-Rahmenfarbe: Dunkelgrau
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1); // Popup-Schattenfarbe
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .kollege-details {
      background-color: #333;
      h3 {
        color: #fff; // Titel-Textfarbe: Weiß
        margin-bottom: 10px;
        background-color: #333;
      }

      .kollege-description {
        background-color: #333;
        color: #ccc; // Beschreibung-Textfarbe: Hellgrau
      }

      a {
        color: white;
        background-color: #333;
      }
    }
  }

  .add-button {
    background-color: #4caf50; // Button-Hintergrundfarbe: Grün
    color: #fff; // Button-Textfarbe: Weiß
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      background-color: #388e3c; // Button-Hover-Hintergrundfarbe: Dunkelgrün
    }
  }
}
